<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Node chat</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="./assets/growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css"/>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    {% if not error %}
    <script src='/socket.io/socket.io.js'></script>
    {% endif %}
</head>
<body>
{% if error %}
<div class="login-page">
    <div class="form">
        <div style="margin-top: 18px;">
            <form class="register" method="post" style="display: none;">
                <input type="text" name="username" placeholder="имя пользователя"/>
                <input type="password" name="password" placeholder="пароль"/>
                <button type="submit">Создать аккаунт</button>
                <p class="message"><a href="#">Войти</a></p>
            </form>
            <form class="login" method="post">
                <input type="text" name="username" placeholder="имя пользователя"/>
                <input type="password" name="password" placeholder="пароль"/>
                <button type="submit">Войти</button>
                <p class="message"><a href="#">Создать аккаунт</a></p>
            </form>
        </div>
    </div>
</div>
<script src="/assets/js/unauth.js"></script>
{% else %}
<div class="container clearfix">
    <div class="chat">
        <div class="chat-header clearfix">
            <div class="chat-about">
                <div class="chat-num-users">Привет, <span id="name">{{ username }}</span></div>
            </div>
            <div class="controls">
                <a href="#" class="logout-btn">Выход</a>
            </div>
        </div>

        <div class="chat-history">
            <ul>
            </ul>
        </div>

        <div class="chat-message clearfix">
            <textarea name="message" placeholder ="Введите ваше сообщение" rows="3"></textarea>
            <button type="submit">Отправить</button>
        </div>
    </div>
</div>
<script src="/assets/js/auth.js"></script>
{% endif %}
</body>
</html>